@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=Roboto:wght@100;300;400&display=swap');*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main
{
    background: url("../img/main3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position:relative;
    display: block;
}

.header
{
    display: flex;
    padding: 22px;
    flex-direction: row;
    background-color: #000000;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.titulo
{
    font-weight: 400;
    font-size: 30px;
}

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: #000000;
}

.sidebar .logo-details
{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-bottom: 10px;
}

.logo
{
    padding: 5px;
    width: 80px;
}

.logo_name
{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    padding: 0 10px;
}

.sidebar .nav-links
{
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidebar .nav-links li
{
    position: relative;
    list-style: none;
    transition: all 2s ease;
    border-radius: 10px;
}

.sidebar .nav-links li i
{
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 22px;
}

.sidebar .nav-links li a
{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name
{
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 400;
}

.sidebar .nav-links li .iocn-link
{
    display: flex;
    justify-content: space-between;
}

.sidebar .nav-links li .sub-menu
{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #000000;
}

.sidebar .nav-links li .sub-menu a
{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 2s ease;
}

.sidebar .nav-links li .sub-menu a:hover
{
    opacity: 1;
}


.sidebar .nav-links li:hover
{
    background-color:rgb(29, 27, 27);
}

.sidebar.close .nav-links li .sub-menu
{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    transition: all .5s ease;
    opacity: 0;
    pointer-events:none;
}

.sidebar.close .nav-links li:hover .sub-menu
{
    top: 0px;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link_name
{
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name
{
    font-size: 18px;
    opacity: 1;
    display: block;
}